body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.task-list {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-text {
    flex-grow: 1;
    margin-right: 10px;
}

.task-delete {
    color: red;
    cursor: pointer;
}

.task-item:last-child {
    border-bottom: none;
}

.task-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

.add-button {
    width: 95%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.add-button:hover {
    background-color: #0056b3;
}
.liContain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}
.deTitle{
    text-decoration: none;
    color: rgb(232, 4, 4);
}
.task-priority{
    padding-right: 110px;
}
.priority-number{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}
.date{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}
.task-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task-date{
    padding-right: 40px;
}