{% extends 'shared/shared.html' %}
{% load static%}
{% block css_file%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock%}

{% block body%}
    <div class="container">
        <h1>To-Do List</h1>
        <form method="POST" >
            {% csrf_token%}
            <input type="text" name="title" id="taskInput" class="task-input" placeholder="Add a new task...">
            <input type="text" class="priority-number" name="priority" placeholder="Enter the priority of your task...">
            <input type="date" class="date" name="date" placeholder="Enter your task date..." >
            <button onclick="addTask()" class="add-button">Add</button>
        </form>

        <ul class="task-list" id="taskList">
            <!-- Tasks will be added here dynamically -->
            {% for todo in todos %}
                {% if todo.title%}
                    <div class="liContain">
                        <span class="task-text">{{todo.title |title}}</span>
                        <span class="task-priority">Priority: {{ todo.priority }}</span>
                        <span class="task-date">{{ todo.due_date }}</span>
                        <span class="task-delete" onclick="deleteTask(this)"><a class="deTitle" href="delete/{{todo.id}}">Delete</a></span>
                    </div>
                {% endif%}
            {% endfor%}
        </ul>
    </div>
{% endblock%} 

